*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  border: 5px solid blue;

  height: 50vh;
  overflow: hidden;
  position: relative;
}

.box {
  background-color: powderblue;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.box-one {
  background-color: gold;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  opacity: 1;
  animation: vaEtViens 7s ease-in-out infinite;
  /* transform-origin: 50% 50%; */
  /* transform: scale(2); */
  /* transform: skew(45deg); */
  /* transform: rotate(20deg); */
  /* animation: rideau 1s linear infinite; */
}

/* .box-one:hover {
  transform: scale(0.5);
  opacity: 1;
  background-color: purple;
  transition: all 2s ease;
} */

@keyframes vaEtViens {
  0% {
    left: 0;
  }
  25% {
    left: 0;
    top: 100%;
    transform: translate(0, -100%);
  }
  50% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
  }
  100% {
    left: 0;
    top: 0;
  }
}
